body {
  font-family: "Montserrat";
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

p {
  color: gray;
}


.container-fluid {
  padding: 7% 15%;
}

/* Headings */

.big-heading {
  font-size: 300%;
  line-height: 1.5;
  margin-top: 10%;
 }

 .pricing-heading {
   font-size: 3rem;
   line-height: 1.5;
 }

 /* Sections */

 .colored-section {
   background-color: #ff4c68;
   color: #fff
 }

 .white-section {
   background-color: #fff;
 }

/* Title section */

#title {
  text-align: left;
}


.row {
  margin-right: 0;
}

#title .container-fluid {
  padding: 3% 15% 7%;
}

.navbar-brand {
  font-size: 3rem;
}

.navbar {
  padding-left: 0;
  margin-bottom: 50px;
}

.pricing-nav {
  margin: auto 2.5rem;
}

.nav-link {
  font-size: 1.3rem;
}

.image-title {
  transform: rotate(25deg);
  width: 60%;
  position: absolute;
  right: 30%;
}

@media (max-width: 992px) {

  .image-title {
    position: static;
    transform: rotate(0deg);
    margin-top: 5%;
  }

  #title {
    text-align: center;
  }

}

/* Features section */

#features {
  position: relative;
  background-color: #ffffff;
  padding: 7% 15%;
}

.features-title {
   font-size: 1.5rem;
 }


.features-paragraph {
  color: #A9A9A9;
}

.features-fa {
  color: #ef8172;
  font-size: 4rem;
  margin-bottom: 1rem;
}

.features-fa:hover {
  color: #ff4c68;
}

/* Testimonials section */

#testimonials {
  background-color: #ef8172;
}

.testimonials-text {
  font-size: 3rem;
  line-height: 1.5;
}

.carousel-item {
  padding: 7% 15%;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

.carousel-item {
  background-color: #ef8172;
}

#press {
  background-color: #ef8172;
  padding-bottom: 3%;
}

.press-logo {
  width: 10%;
  margin: 20px 20px;
}

/* Pricing section */

#pricing {
  padding: 100px;
}

.card-deck {
  margin-top: 80px;
}



  .first-price-card {
    padding-bottom: 20px;
  }

  .pricing-first-button {
    margin-top: 3.5rem;
  }

@media (max-width: 1160px) and (min-width: 991px) {

  .first-price-card {
    padding-bottom: 20px;
  }

  .pricing-first-button {
    margin-top: 7.5rem;
  }


}


.pricing-column {
  padding: 3%  2%;
}

/* cta section */

#cta {
  padding: 7% 15%;
}

.cta-h3 {
  font-size: 3rem;
}

.cta-btn {
  font-size: 1rem;
  margin: 1rem 0l5rem;
}

/* Footer section */

#footer {

}

.footer-ff {
  margin: 20px 10px;
  color: black;
}

.footer-ff:hover {
  color: gray;
}

.download-btn {
  margin: 5px;
}

/* QR-code page and example page */

.qr_page {
}

.qr {
  width: 30%;
  margin: 50px;
}

.ex-p {
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 0px;
  padding-bottom: 0;
}
